# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.pytest_cache/
.coverage
htmlcov/

# Local reports & DB
report.html
*.sqlite3
*.log

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# IDE
.vscode/
.idea/